<h1>Datos de Configuración</h1>
<h2>Archivo .env usados en src/config.js</h2>
<h3>Mongo Atlas</h3>
     <ul>
        <li>DB_USER: user mongo atlas </li>
        <li>DB_PASSWORD: password mongo atlas </li>
        <li>DB_CLUSTER: nombre cluster proporcionado por mongo atlas </li>
        <li>DB_NAME: nombre de la db </li>
        <li>MongoDB url: mongodb+srv://DB_USER:$DB_PASSWORD@$DB_CLUSTER.mongodb.net/DB_NAME?retryWrites=true&w=majority </li>
    </ul>
<h3>Nodemailer</h3>
    <ul>
        <li>MAIL: mail de prueba, usado para from y to (envia y recibe) </li>
        <li>PASS: password para usar mail desde donde se envia, en este caso proporcionado por gmail </li>
            
    </ul>
<h3>Puerto</h3>
<ul>
    <li>PORT: puerto de escucha del servidor </li>    
</ul>
<h3>Sesión</h3>
<ul>
    <li>sessionTtl: tiempo de expiración de sesión en segundos </li>    
    <li>SECRET: token de sesión </li> 
</ul>


